name: Deploy Production

on:
  push:
    branches:
      - main
    paths-ignore:
      - test/**
      - lambda.http

jobs:
  deploy_lambda:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Serverless Install
        run: |
          npm install -g serverless
      - name: npm install
        env:
          CI: true
        run: |
          npm ci
      - name: Deploy Lambda
        run: |
          chmod +x .github/deploy.sh
          .github/deploy.sh "prd"
